    <%
=begin%>
 <h1>あなたの観たいインディーズ映画がきっと見つかる</h1>
      <p>「ジャンボトロン」とは、元はソニーが開発・製作していた大型映像表示装置の名称。<br>転じて英語圏では、大型表示ディスプレイを指す一般名詞としても使われている。</p> 
<%
=end%>

<div class="container-fluid center hm-bg1">
  <div class="hm-bg1-mask">
    <p>友達に映画をおすすめしたいあなた、観たい映画を探しているあなた</p>
    <h3>～映画世界のオアシスへようこそ～</h3>
  </div>
</div>


<div class="container-fluid info center">
  <div class="row">
    <div class="col-md-4">
      <h4 class="center"><i class="bi bi-info-circle-fill"></i> INFO</h4>
      <p>キーワードで映画を検索、ジャンルや年などのフィルターをかけて検索ができる！<br>
      </p>
    </div>
    <div class="col-md-4">
      <h4 class="center"><i class="bi bi-bookmark-star-fill"></i> MARK</h4>
      <p>観た映画、観たい映画、おすすみの映画をMARKする。<br>
      自分のリスト、他のユーザのリストを見れる。<br>
      </p>
    </div>
    <div class="col-md-4">
      <h4 class="center"><i class="bi bi-person-plus-fill"></i> FOLLOW</h4>
      <p>自分の趣味と合うユーザを探してみて、フォローしよう。<br>
      フォローしているユーザの記録を見て、新たな発見ができるかも！
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="movies row">
      <% @movies.each do |movie| %>
      <div class="col-md-4 col-sm-6">
          <%= link_to "/movies/#{movie["id"]}", :target => "new" do %>        
          <%= image_tag movie.image.thumb.url %>
          <h3><%= movie["title"] %></h3>
            <% end %>
      </div> 
      <% end %>
  </div> 
</div>

              
  