<div class="container">
  <div class="movies row">
      <% @movies.each do |movie| %>
      <div class="col-md-4 col-sm-6">
          <%= link_to "/movies/#{movie["id"]}", :target => "new" do %>        
          <%= image_tag movie.image.thumb.url %>
          <h3><%= movie["title"] %></h3>
            <% end %>
      </div> 
      <% end %>
  </div> 
</div>
<%== pagy_bootstrap_nav(@pagy) %>

              
  