// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "bootstrap-social";
// @import "font-awesome";

/* variables */
$light-gray: #777;
$gray-medium-light: #eaeaea;
$moasis: #3aabd2;

/* mixins */
@mixin title {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: $moasis;
  border-left: 8px solid $moasis;
  background-color: #E8FAFB;
}
@mixin movie_box {
  border: 2px solid $gray-medium-light;
  border-radius: 5px;
  margin: 30px 0;
  padding: 30px 5px;
  a {
    color: black;
  }
  a:hover {
    color: $moasis;
  }
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.area-width {
  width: 80%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  /*color: $light-gray;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header {
  .navbar {
  margin-top: 0;
  }
  #logo {
    float: left;
    margin-right: 10px;
    margin-left: 15px;
    padding-top: 9px;
  }
  .navbar-form {
    padding-top: 7px;
  }
  a {
    color: $moasis;
    font-size: 17px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  .copyright {
    margin-left: 20px;
    float: left;
    color: #081c24;
    img {
      margin-right: 8px;
    }
  }
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    /* clear: both; */
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}



/* homepage */
.hm-bg1 {
  margin-top: 20px;
  padding-top: 70px;
  margin-bottom: 50px;
  background: image-url("banner2.png") no-repeat;
  background-size: 100% auto;
  /* background-size: cover; */
  p, h1, h3 {
    color: #fff;
  }
  h3 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  h2 {
    color: $moasis;
  }
  /* img {
    margin-top: 20px;
    margin-bottom: 20px;
  } */
  .hm-buttons {
    margin: 80px auto 60px auto;
    /*margin-top: 60px;*/
    /*margin-bottom: 60px;*/
    a {
      margin: auto 15px;
    }
  }
}

.info {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 70%;
  p, h4 {
    color: $moasis;
  }
  h4 {
    font-weight: bold;
    font-size: 27px;
  }
  p {
    padding-top: 10px;
  }
}




/* search */
.search-page {
  padding: 0;
  h1 {
    margin-bottom: 50px;
  }
  .row {
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 25px;
    @include title;
  }
  .keyword-search {
    padding-right: 35px; 
  }
  .adv-search {
    border-left: 2px solid $gray-medium-light;
    padding-left: 33px;
  }
}
.genre-year {
  h2 {
    font-size: 23px;
    margin-bottom: 15px;
    @include title;
  }
  hr {
    margin-bottom: 30px;
  }
}
.search-results {
  p {
    font-size: 20px;
  }
  .results {
    @include movie_box
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    color: $light-gray;
    font-size: 23px;
  }
}
.movie-results {
  .btn-toolbar {
    margin-top: 20px;
    margin-left: 0;
  }
}
.people-results {
  .row {
    margin-right: 200px;
  }
}



/* movie info */
.movie-info {
  width: 85%;
  margin-top: 30px;
  .poster {
    img {
      padding-top: 30px;
    }
  }
  .btn-toolbar {
    margin: 30px 0;
  }
  .recommend-data {
    margin: 30px auto;
    border-top: 2px solid $gray-medium-light;
    border-bottom: 2px solid $gray-medium-light;
    h5 {
      font-size: 22px;
      color: $moasis;
    }
  }
  // movies/show↓画像の大きさ
  .movie_image {
    max-width: 100%;
    height: auto;
  }
  /* original title */
  h2 {
      font-size: 21px;
      color: $light-gray;
  }
  .collection {
    text-align: center;
    font-size: 20px;
    a {
      color: $moasis;
    }
  }
  .details {
    margin: 20px auto;
  }
  /* cast */
  .col-md-2 {
    padding-left: 0;
    padding-right: 10px;
  }
  .trailers {
    margin-top: 25px;
    .col {
      float: left;
      margin-left: 15px;
      margin-right: 10px;
    }
  }

  /* comment form */
  aside {
    h5 {
      font-size: 18px;
      font-weight: bold;
    }
    p {
      word-wrap: break-word;
    }
    label {
      font-size: 20px;
    }
    textarea {
      height: 150px;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

/* comments */
.comments {
  clear: both;
  /*margin-top: 30px;*/
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 40px;
  h5 {
    font-size: 22px;
    @include title;
  }
  ol {
    list-style: none;
    padding-left: 0;
  }
  li {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
  }
  .profile {
    float: left;
    margin-right: 10px;
  }
  .user {
    margin-top: 15px;
    padding-top: 0;   
  }
  .date {
    display: block;
    color: $light-gray;
    padding-left: 60px;
  }
  .content {
    clear: both;
    display: block;
    margin: 10px 15px 0px 15px; 
    word-wrap: break-word;
  }
  form {
    margin-left: 15px;
  }
}

/* movie collections */
.collections {
  width: 80%;
  .row {
    @include movie_box
  }
  h1 {
    color: $moasis;
    border: 2px solid $moasis;
    padding: 5px;
    background-color: #E8FAFB;
    /*margin-bottom: 20px;*/
  }
  .btn-toolbar {
    margin-top: 20px;
    margin-left: 0;
  }
}


/* cast&staff info */
.person {
  margin-top: 30px;
  img {
    padding-top: 30px;
  }
  p {
    font-size: 19px;
  }
}



/* profile */
.user {
  padding: 0;
  .stats {
    /*margin-left: 10%;*/
    /*margin-right: auto;*/
    overflow: auto;
    a {
      color: black;
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-medium-light;
      &:first-child {
        border: 0;
      }
    }
    strong {
      display: block;
    }
  }
  .lists {
    margin-top: 30px;
  }

  /* recommend list filter */
  .btn-group {
    margin-top: 20px;
  }

  /* list content */
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    @include title;
    clear: both;
  }
  .movie-box {
    @include movie_box;
    h3 {
      font-size: 25px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: left;
    }
    .btn-date {
      margin-left: 0;
      margin-top: 20px;
      span {
        color: $light-gray;
      }
    }
  }

  /* report */
  h4 {
    margin-top: 30px;
  }
  hr {
    margin-top: 35px;
  }

  /* comments */
  .comment {
    border: solid 1px $gray-medium-light;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    .info {
      margin-top: 15px;
      /*padding-top: 0;*/
      /*padding-left: 10px;*/
      font-size: 18px;
    }
    .date {
      display: block;
      color: $light-gray;
      /*padding-left: 10px;*/
      padding-top: 10px;
    }
    .content {
      clear: both;
      display: block;
      margin: 20px 15px 10px 0px;
      word-wrap: break-word;
      border-left: 5px solid #D8D8D8;
      padding-left: 10px;
      font-size: 15px;
    }
    .col-md-2 {
      padding-top: 10px;
    }
  }
}



/* Timeline */
.timeline {
  /*width: 75%;*/
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    @include title;
  }
  .row {
    padding: 20px 0;
    margin: 0;
    /*border-top: 1px solid #e8e8e8;*/
  }
  .profile {
    float: left;
    margin-right: 10px;
  }
  .info {
    margin-top: 15px;
    padding-top: 0;
    font-size: 18px;
  }
  .date {
    display: block;
    color: $light-gray;
    padding-left: 60px;
    padding-top: 10px;
  }
  .content {
    clear: both;
    display: block;
    margin: 20px 15px 10px 15px;
    word-wrap: break-word;
    border-left: 5px solid #D8D8D8;
    padding-left: 10px; 
    font-size: 15px;
  }
  .comment {
    background-color: #EFFBF2;
  }
  .watched {
    background-color: #EFF8FB;
  }
  .want {
    background-color: #FBFBEF
  }
  .recommend {
    background-color: #FBEFEF;
  }
}


/* form */
.form-condition {
  color: #F06060;
}

/* alert */
.alert {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}