<h2>レビュー投稿一覧</h2>
<% @reviews.each do |review| %>
  <div class=card>
    <%= link_to review.user.name, user_path(review.user_id) %>
    <p>内容:<%= review.text%></p>
  </div>
<% end %>

<br>
<br>
<%= link_to 'ホームへ戻る', root_path %>