<footer class="footer">
  <div class="copyright">
    <p>
      <%= image_tag("banner.jpeg", style: "height:40px;width:auto;", alt: "api logo", id: "logo") %>
      Copyright &copy; 2023 Tomoya Chihara. All rights reserved.</p>
  </div>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>