<% provide(:title, "About") %>

<div class="container-fluid area-width">

  <h1>About</h1>

  <p>本ウェブサイトは、学校の就職作品プレゼンテーションというイベントのための作った作品です。</p>

  <p><strong>個人情報の利用目的</strong><br>
  本ウェブサイトでは、偽物のユーザ名とメールアドレスを使っても会員登録できるようになっております。パスワード再設定する必要な場合のみ、実際に使用可能なメールアドレスをご登録頂くようにしております。メールアドレスはパスワード再設定の目的以外では利用いたしません。SNSアカウントでログインする時、会員作成するためにユーザ名とプロファイル写真のみ取得し、必要に応じて個人のプロフィールページで表示することになります。それ以外の目的以外では利用いたしません。</p>

  <p><strong>個人情報の第三者への開示・提供の禁止</strong><br>
  本ウェブサイトでは、個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。<br>
  <ul>
    <li>お客さまの同意がある場合</li>
    <li>法令に基づき開示することが必要である場合</li>
  </ul>
  </p>

  <p><storng>個人情報の安全対策</storng><br>
  本ウェブサイトは学生個人の試作品とはいえ、個人情報の正確性及び安全性確保のために、セキュリティ対策に関してはできる限り努力をしております。</p>

  <p><strong>ご本人の照会</strong><br>
  お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>

  <p><strong>法令、規範の遵守と見直し</strong><br>
  本ウェブサイトの製作者は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>

</div>